footer{
    width: 100%;
    background-color: #5aba8d;
    padding: 10px;
    text-align: center;
}
footer span{
    color: #fff;
    font-size: 0.8em;
    font-weight: 500;
}
.inputs-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 8%;
}
